@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

h1{
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: italic;
    font-size: 20px !important;
    color: white;
  
}